*.db
*.db-shm
*.db-wal
bin/
obj/
*.user
*.suo
*.userosscache
*.csproj.user
*.sln.docstates
*.log
*.tmp
*.vs/
*.db-journal
*.sqlite
*.mdf
*.ldf
appsettings.Development.json
*.nupkg
*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json

